@import "tailwindcss";
@import "@heroui/styles"; 
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.swiper {
    width: 100%;
    height: auto;
}
.swiper-slide {
    height: auto !important;
}